<template name="paymentPage">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>

<button class="button" id="addCCButton">Add Credit Card</button>

<div id="newCardModal" class="modal">
  <div class="modal-content">
    <h4 style="text-align:center">Add Credit Card</h4>
    <form>
      <div class="row">
        <div class="input-field">
          <input id="cardNumberText" type="text" placeholder="1234 5678 9012 3456">
          <label for="messageText">Card Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <textarea id="cvvcode" class="materialize-textarea"></textarea>
          <label for="messageText">Card Number</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a id="confirmCC" target="newCardModal" class="modal-action modal-close waves-effect waves-green btn-flat">Add Card</a>
  </div>
</div>
</template>
