<template name="userLogin">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=0.8, user-scalable=no, user-scalable=0"/>
<script>
		$(document).ready(function(){
		     $(".menu").hide();
		});

		function toToggle(info) {
			$(info).toggle();
		}
</script>
	<div>
	<section>
		{{#each listedItems}}
	    {{> listingItem}}
	  {{/each}}
		<div class="col-md-6 col-xs-12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			    	<img class="activator" src="/bibimbap.jpg">
			    	<span class="card-title cardreview-title">Click photo for Reviews</span>
			    </div>
			    <div class="card-content">
			    	<span class="card-title grey-text text-darken-4">
			    		<ul class="col-md-6 col-xs-6">
			    			<li>Bibimbap</li>
			    			<li><i class="fa fa-map-marker"></i>325 Esquina Dr, Henderson, NV (2 miles)</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    		<p class="col-md-2 col-xs-2"><b>$6</b></p>
			    		<ul class="col-md-4 col-xs-4">
			    			<li>Order by 5pm today</li>
			    			<li style="padding-top: 5px;"><button id="paymentPage" type="button" class="btn">Order now</button></li>
			    		</ul>
			    	</span>
			    </div>
			    <div class="card-reveal">
			    	<span class="card-title grey-text text-darken-4"><i class="fa fa-close prefix"></i> Reviews</span>
			    	<div class="card-review">
			    		<img src="/alex.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>One of the best tasting Bibimbap that I’ve ever tasted.</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    	<div class="card-review">
			    		<img src="/ryanong.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>The sauce is sweet and spicy at the same time. What a marvellous mix of flavour. Would definitely order again.</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    </div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			    	<img class="activator" src="/chickenkungpao.jpg">
			    	<span class="card-title cardreview-title">Click photo for Reviews</span>
			    </div>
			    <div class="card-content">
			    	<span class="card-title grey-text text-darken-4">
			    		<ul class="col-md-6 col-xs-6">
			    			<li>Kung Pao Chicken</li>
			    			<li><i class="fa fa-map-marker"></i>4208 Lentil Ct, Las Vegas, NV (0.6 miles)</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    		<p class="col-md-2 col-xs-2"><b>$8</b></p>
			    		<ul class="col-md-4 col-xs-4">
			    			<li>Order by 7pm today</li>
			    			<li style="padding-top: 5px;"><button id="paymentPage" type="button" class="btn">Order now</button></li>
			    		</ul>
			    	</span>
			    </div>
			    <div class="card-reveal">
			    	<span class="card-title grey-text text-darken-4"><i class="fa fa-close prefix"></i> Reviews</span>
			    	<div class="card-review">
			    		<img src="/ryan.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>Best Kung Pao Chicken that I’ve ever tasted in the US. Definitely recommended!</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    	<div class="card-review">
			    		<img src="/hw.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>The combination of spice and sweetness is perfect!</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    </div>
			</div>
		</div>
	</section>


	<section>
		<div class="col-md-6 col-xs-12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			    	<img class="activator" src="/chickenrice.jpg">
			    	<span class="card-title cardreview-title">Click photo for Reviews</span>
			    </div>
			    <div class="card-content">
			    	<span class="card-title grey-text text-darken-4">
			    		<ul class="col-md-6 col-xs-6">
			    			<li>Hainanese Chicken Rice</li>
			    			<li><i class="fa fa-map-marker"></i>5113 Mountain View  Dr, Las Vegas, NV (1.3 miles)</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    		<p class="col-md-2 col-xs-2"><b>$6</b></p>
			    		<ul class="col-md-4 col-xs-4">
			    			<li>Order by 5pm today</li>
			    			<li style="padding-top: 5px;"><button id="paymentPage" type="button" class="btn">Order now</button></li>
			    		</ul>
			    	</span>
			    </div>
			    <div class="card-reveal">
			    	<span class="card-title grey-text text-darken-4"><i class="fa fa-close prefix"></i> Reviews</span>
			    	<div class="card-review">
			    		<img src="/ryan.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>Delicious Hainanese Chicken Rice.</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    	<div class="card-review">
			    		<img src="/alex.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>Cannot be found elsewhere in Las Vegas. Thumbs Up!</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    </div>
			</div>
		</div>

		<div class="col-md-6 col-xs-12">
			<div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
			    	<img class="activator" src="/chickenchop.jpg">
			    	<span class="card-title cardreview-title">Click photo for Reviews</span>
			    </div>
			    <div class="card-content">
			    	<span class="card-title grey-text text-darken-4">
			    		<ul class="col-md-6 col-xs-6">
			    			<li>Chicken Chop</li>
			    			<li><i class="fa fa-map-marker"></i>3578 Moraga Dr, Las Vegas, NV (4 miles)</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    		<p class="col-md-2 col-xs-2"><b>$7</b></p>
			    		<ul class="col-md-4 col-xs-4">
			    			<li>Order by 6pm today</li>
			    			<li style="padding-top: 5px;"><button id="paymentPage" type="button" class="btn">Order now</button></li>
			    		</ul>
			    	</span>
			    </div>
			    <div class="card-reveal">
			    	<span class="card-title grey-text text-darken-4"><i class="fa fa-close prefix"></i> Reviews</span>
			    	<div class="card-review">
			    		<img src="/hw.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>Juiciest Chicken Chop that I’ve ever had.</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    	<div class="card-review">
			    		<img src="/ryanong.jpg" class="col-md-3">
			    		<ul class="col-md-9">
			    			<li>The mushroom sauce on it was amazing. Crispy on the outside and tender on the inside.</li>
			    			<li><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
			    		</ul>
			    	</div>
			    </div>
			</div>
		</div>
	</section>

	</div>
</template>
