<template name="login">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>
		
	<div class="login">
		<div class="navbar">		
			<ul class="pull-right">
				<li id="about">About</li>
				<li id="signup">Sign Up</li>
				<li id="login">Login</li>
			</ul>

			<ul class="pull-left">
				<li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  AirFnB</li>
			</ul>
		</div>

		<div class="col-md-4"></div>
			<div class="col-md-4 login">		
				<div class="inputfields">
					<form id="#" method="POST">
						<input type="text" name="userid" placeholder="USERNAME"><br><br>
						<input type="text" name="password" placeholder="PASSWORD"><br><br>
	  					<a id="home" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">play_arrow</i></a>
					</form>
				</div>
			</div>
		<div class="col-md-4"></div>
	</div>

</template>