/* CSS declarations go here */
@font-face {
	font-family: 'myFont';
	src: url('font/HelveticaNeue-UltraLight.eot');
	src: url('font/HelveticaNeue-UltraLight.woff') format('woff'),
		 url('font/HelveticaNeue-UltraLight.ttf') format('truetype'),
		 url('font/HelveticaNeue-UltraLight.svg') format('svg');
}
/* CSS declarations go here */
body {
  font-family: 'myFont';
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

/*
	NAVBAR
*/

.navbar {
	height: 15px;
	padding: 0px;
	margin: 0px;
	display: block;
}

.navbar ul {
	margin-top: 10px;
}

.navbar li {
	list-style-type: none;
	color: white;
	font-family: 'myFont';
	font-size: 18px;
	padding: 5px;	
	display: inline;
}	

.pull-right {
	padding-right: 15px;
}

.homeWelcome {
	text-align: center;
	color: white;
}

/*
	LOGIN PAGE
*/
.loginWelcome {
	color: white;
	text-align: center;
	height: 100%;
}

.login-right, .login-left {
	width: 48%;
	height: 60%;
	margin: 10px;
	background-color: rgba(0,0,0,0.3);
}



