<template name="listingItem">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>
<div class="col-md-6 col-xs-12">
  <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src={{imgurl}}>
        <span class="card-title cardreview-title">Click photo for Reviews</span>
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">
          <ul class="col-md-6 col-xs-6">
            <li>{{name}}</li>
            <li><i class="fa fa-map-marker"></i>{{location}}</li>
            <li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>            
          </ul>
          <p class="col-md-2 col-xs-2"><b>{{price}}</b></p>
          <ul class="col-md-4 col-xs-4">
            <li>{{endDate}}</li>
            <li style="padding-top: 5px;"><button id="paymentPage" type="button" class="btn">Order now</button></li>
          </ul>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Reviews</span>
      </div>
  </div>
</div>
</template>
