	<template name="home">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<div class="home">
		<div class="navbar">		
			<ul class="pull-right">
				<li id="about">About</li>
				<li id="signup">Sign Up</li>
				<li id="login">Login</li>
			</ul>

			<ul class="pull-left">
				<li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  AirFnB</li>
			</ul>
		</div>

		<div class="homeWelcome">
			<h1><b>Hungry...?</b></h1>
		</div>

		<div class="homeToLogin">
			<div id="createOrderPage" class="col-md-6 home-left">
				<h1>Finding ways....?</h1>
				<h2>Be a cook</h2>
			</div>

			<div id="userLogin" class="col-md-6 home-right">
				<h1>Rushing for time...?</h1>
				<h2>Choose a meal</h2>
			</div>
		</div>
	</div>
	
</body>
</template>
