<template name="home">
<head>
	<title>AirFnB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  	<script type="text/javascript" src="js/jquery-1.11.1.js"> </script>

	<link rel="stylesheet" type="text/css" href="airfnb.css">
</head>

<body>
	<div class="navbar">
		<ul class="nav-right">
			<li><a href="#about">About</a></li>
			<li><a href="#signup">Sign Up</a></li>
			<li id="login">Login</li>
		</ul>

		<ul class="nav-left">
			<li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  AirFnB</li>
		</ul>
	</div>

</body>
</template>