<template name="ordersPage">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>

<div class="col-md-6 col-xs-12" style="text-align:center">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/userlogin2.jpg">
    </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">
          <ul class="col-md-6 col-xs-6">
            <li>Mexican Tacos</li>
            <li><i class="fa fa-map-marker"></i>Las Vegas, NV (0.1 miles)</li>
            <li><i class="fa fa-heart"></i><i class="fa fa-heart"></i></li>
          </ul>
          <ul class="col-md-4 col-xs-4">
            <li>Collect by 5pm today</li>
            <li style="padding-top: 15px;"><button id="qrButton" type="button" class="btn">Show Receipt</button></li>
            <li style="padding-top: 15px;"><button type="button" class="btn green">Message</button></li>
            <li style="padding-top: 15px;"><button type="button" class="btn red">Cancel</button></li>
          </ul>
        </span>
      </div>
  </div>
</div>

</template>
