<template name="userCook">
<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>

	<div>
		<div class="col-md-12 col-xs-12">
			<table class="usercook-table">
				<tr>
					<td style="background-color: #FFD39B">
						<a id="createOrderPage"><img src="/pot.png"></a>
						<p>List new dish</p>
					</td>
					<td style="background-color: #FFE9D8">
						<a href="#"><img src="/mail.png"></a>
						<p>Inbox</p>
					</td>
				</tr>
				<tr>
					<td style="background-color: #FFE9D8">
						<img id="qrCodeScan" src="/qrcode.png">
						<p>Scan Barcode</p>
					</td>
					<td style="background-color: #FFD39B">
						<a id="insightics"><img src="/send.png"></a>
						<p>Insightics</p>
					</td>
				</tr>
			</table>
		</div>



	</div>
</template>
